.login-container {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  background-color: #f8f9fa;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.login-card {
  text-align: center;
  padding: 150px 300px;
  background: white;
  border-radius: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.login-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.app-name {
  font-size: 40px;
  margin-bottom: 50px;
  font-family: "Coiny", sans-serif;
}

.btn {
  width: 80%; /* Nút đăng nhập nhỏ hơn input */
  padding: 15px;
  font-size: 16px;
  background-color: #4a30d0;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.login-button {
  background-color: #5a4fcf;
  color: white;
  margin-bottom: 30px;
}

.register-button {
  background-color: #f2f3ff; /* Màu tím rất nhạt */
  color: #333;
  border: none;
  border-radius: 30px;
  padding: 14px 0;
  font-size: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #e0e2ff;
}

.forgot-password {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}
